<a href="https://colab.research.google.com/github/vaiztomanucu/Aprendendo_Python/blob/master/A01_Imers%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [12]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [14]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [15]:
df.shape

(133349, 11)

In [18]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'Linhas: {linhas}\nColunas: {colunas}')

Linhas: 133349
Colunas: 11

In [19]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [29]:
df.columns = [
    'ano',
    'seneoridade',
    'contrato',
    'cargo',
    'salario',
    'moeda',
    'usd',
    'residencia',
    'remoto',
    'empresa',
    'tamanho_empresa'
]

print(df.columns)

Index(['ano', 'seneoridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [25]:
#Para essa tradução usamos IA, o próprio Gemini está configurdo para funcionar juntamente com o colab.
#Caso não traduzisse automaticamente, os comandos seriam os seguintes:
#renomear_colunas = {'work_year': 'ano'}
#df.rename(columns=renomear_colunas, inplace=True)
#df.columns

In [30]:
df['seneoridade'].value_counts()

seneoridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [31]:
df['contrato'].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [32]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [33]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [35]:
df['seneoridade'] = df['seneoridade'].replace({
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
})
df['seneoridade'].value_counts()

seneoridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [39]:
#Acima, utilizamos IA novamente para traduzir para português as siglas das colunas da tabela
#Abaixo, repeti o mesmo processo para as demais
#SEMPRE LEMBRAR DE VERIFICAR SE ESTÁ TUDO CORRETO APÓS USO DA IA!!!!!

In [36]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
})
print("Contrato (atualizado):")
print(df['contrato'].value_counts())

Contrato (atualizado):
contrato
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [37]:
df['remoto'] = df['remoto'].replace({
    0: 'Presencial',
    100: 'Remoto',
    50: 'Híbrido'
})
print("\nRemoto (atualizado):")
print(df['remoto'].value_counts())

Remoto (atualizado):
remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [38]:
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'
})
print("\nTamanho da Empresa (atualizado):")
print(df['tamanho_empresa'].value_counts())

Tamanho da Empresa (atualizado):
tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [41]:
df.head()

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [45]:
df['cargo'] = df['cargo'].replace({
    'Data Engineer': 'Engenheiro de Dados',
    'Data Scientist': 'Cientista de Dados',
    'Data Analyst': 'Analista de Dados',
    'Machine Learning Engineer': 'Engenheiro de Machine Learning',
    'Analytics Engineer': 'Engenheiro de Análise',
    'Research Scientist': 'Cientista de Pesquisa',
    'Applied Scientist': 'Cientista Aplicado',
    'ML Engineer': 'Engenheiro de ML',
    'Cloud Engineer': 'Engenheiro de Nuvem',
    'AI Engineer': 'Engenheiro de IA',
    'Software Engineer': 'Engenheiro de Software',
    'Data Architect': 'Arquiteto de Dados',
    'Solutions Engineer': 'Engenheiro de Soluções'
})
print(df['cargo'].value_counts().head(10))

cargo
Cientista de Dados                17315
Engenheiro de Software            15007
Engenheiro de Dados               14868
Analista de Dados                 12381
Engineer                           9456
Engenheiro de Machine Learning     8205
Manager                            6679
Analyst                            4364
Cientista de Pesquisa              3202
Product Manager                    2230
Name: count, dtype: int64

In [47]:
df.head()

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Engenheiro de Soluções,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Engenheiro de Soluções,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio

In [48]:
df.describe(include='object')

,seneoridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,389,26,102,3,95,3
top,Sênior,Tempo Integral,Cientista de Dados,USD,US,Presencial,US,Médio
freq,77241,132563,17315,126140,119579,105312,119641,129561

In [49]:
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000