<a href="https://colab.research.google.com/github/vaiztomanucu/Aprendendo_Python/blob/master/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2

In [ ]:
df.isnull() #False para dado nulo ou True onde existe dados.

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.head()

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Engenheiro de Soluções,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Engenheiro de Soluções,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio

In [ ]:
df.isnull().sum() #Somou todos nulos em cada coluna.

ano                10
seneoridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [ ]:
df['ano'].unique() #Valores únicos dentro da coluna específicada.

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [ ]:
df[df.isnull().any(axis=1)] #Para filtrar em quais posições está os valores nulos.

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Médio
59692,NaN,Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Médio
59710,NaN,Júnior,Tempo Integral,Cientista de Dados,208800,USD,208800,US,Presencial,US,Médio
59759,NaN,Sênior,Tempo Integral,Engenheiro de Software,135000,USD,135000,US,Presencial,US,Médio
59789,NaN,Sênior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Médio
131000,NaN,Sênior,Tempo Integral,Engenheiro de Machine Learning,163800,USD,163800,US,Presencial,US,Médio
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Médio
133054,NaN,Júnior,Tempo Integral,Cientista de Dados,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Tempo Integral,Engenheiro de Machine Learning,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Tempo Integral,Cientista de Dados,130000,USD,130000,US,Híbrido,US,Grande

In [ ]:
import numpy as np #Importando a biblioteca numpy e apelidando para np.
df_salarios = pd.DataFrame({
    'nome': ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'salário': [4000, np.nan, 5000, np.nan, 100000]
}) #Criando um dataframe com os dados acima, np.nan significa valor nulo.

df_salarios['salario_media'] = df_salarios['salário'].fillna(df_salarios['salário'].mean().round(2))
#O comando acima serve para criar uma nova coluna, 'salario_media'. Fillna para preencher valores nulos com a média(mean) dos salários e round(2) para arredondar com duas casas decimais.
df_salarios['salario_mediana'] = df_salarios['salário'].fillna(df_salarios['salário'].median())
df_salarios

      nome   salário  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [ ]:
df_temperaturas = pd.DataFrame({
    #Criando outro dataframe para exemplificar comandos.
    "Dias da semana" : ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'Temperatura' : [30, np.nan, np.nan, 28, 27]
})
#ffill preenche com o valor anterior ao nulo, neste caso, 30.
df_temperaturas['Preenchido_ffill'] = df_temperaturas['Temperatura'].ffill()
#bfill preenche com o valor posterior ao nulo.
df_temperaturas['Preenchido_bfill'] = df_temperaturas['Temperatura'].bfill()
df_temperaturas

  Dias da semana  Temperatura  Preenchido_ffill  Preenchido_bfill
0        Segunda         30.0              30.0              30.0
1          Terça          NaN              30.0              28.0
2         Quarta          NaN              30.0              28.0
3         Quinta         28.0              28.0              28.0
4          Sexta         27.0              27.0              27.0

In [ ]:
df_cidades = pd.DataFrame({
    'nome' :  ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'cidade' : ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})
df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna('Não informado')
df_cidades

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém

In [ ]:
df_limpo = df.dropna() #Criando nova variável para não mexer diretamente na anterior e sobrepor.

In [ ]:
df_limpo.isnull().sum()

ano                0
seneoridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [ ]:
df_limpo.head()

,ano,seneoridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Sênior,Tempo Integral,Engenheiro de Soluções,214000,USD,214000,US,Remoto,US,Médio
1,2025,Sênior,Tempo Integral,Engenheiro de Soluções,136000,USD,136000,US,Remoto,US,Médio
2,2025,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,Presencial,AU,Médio
3,2025,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,Presencial,AU,Médio
4,2025,Júnior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,Presencial,US,Médio

In [ ]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  int64
 1   seneoridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB

In [ ]:
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))
#Aqui usamos o assign para reconfigurar e o astype para trocar o tipo de variável na coluna ano.